.main-body {
    background: rgba(31,47,156,0.53)
}

.page-content {
    margin: auto;
    width: 40%;
}

.footer {
    border-top: .15rem solid black;
    margin: 1rem;
}

.card-form {
    background-color: darkgray;
    margin: 2rem;
    padding: 1rem 3rem;
}

.sign-up-link {
    margin-left: 1rem;
}

.home-banner {
    margin: 2rem auto auto;
    padding: 3rem;
    width: 40%;
    background-color: darkslateblue;
    color: white;
}

.home-banner h4 {
    text-align: right;
    padding: 1rem;
}

.navbar-links {
    justify-content: end;
}

.form-group {
    margin: .5rem 0rem;
}
