.main-body {
    background: rgba(31,47,156,0.53)
}

.page-content {
    margin: 1rem;
}

.footer {
    border-top: .15rem solid black;
    margin: 1rem;
}

.card-form {
    margin: auto;
    width: 40%;
    background: darkgray;
    padding: 1rem 3rem;
}

.sign-up-link {
    margin-left: 1rem;
}

.home-banner {
    margin: auto;
    padding: 3rem;
    width: 40%;
    background-color: darkslateblue;
    color: white;
}

.home-banner h4 {
    text-align: right;
    padding: 1rem;
}

.navbar-links {
    justify-content: end;
}

.form-group {
    margin: .5rem 0rem;
}

.card-list {
    display: flex;
    margin:auto;
    width: 50%;
    background: grey;
    margin: 1rem;
    padding:.5rem;
}

.admin-button {
    margin-top: .5rem;
}

.category-form {
    background: grey;
    margin: 1rem;
    width: 40%;
    padding: .5rem;
}

.category-actions {
    margin-left: auto;
    display: flex;
    gap: 5px;
}