.main-body {
    background: rgba(31,47,156,0.53)
}

.footer {
    border-top: .15rem solid black;
    margin: 1rem;
}

.login-form {
    background-color: darkgray;
    margin: auto;
    margin-top: 2rem;
    width: 35%;
    border: solid black;
    border-radius: 3rem;
    padding: 2rem;
}

.sign-up-link {
    margin-left: 1rem;
}

.home-banner {
    margin: 2rem auto auto;
    padding: 3rem;
    width: 40%;
    background-color: darkslateblue;
    color: white;
}

.home-banner h4 {
    text-align: right;
    padding: 1rem;
}

.navbar-links {
    justify-content: end;
}
