<h1>Current Categories</h1>

<%= render 'categories/create' %>

<% @categories.each do |category| %>
  <div class="card card-list container">
    <div class="row">
      <div class="catgory-info col">
        <%= category.name %>
      </div>
      <div class="category-actions col">
        <%= link_to "View", category_path(category), class: "btn btn-dark" %>
        <%= button_to "Remove", category_path(category), method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>