<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">tiddeR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-links" id="navbarNav">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><a class="dropdown-item" href="/categories">Categories</a></li>
              <% if current_user.has_role? :admin %>
                <li><a class="dropdown-item" href="/users">Users</a></li>
              <%end %>
              <li><hr class="dropdown-divider"></li>
              <%= button_to "Logout", destroy_user_session_path, class:"nav-link", method: :delete %>
            </ul>
          </li>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-link" %>
          <%= link_to "Login", new_user_session_path, class:"nav-link" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
